---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = "The Actual Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p class="lorem">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur placeat
    aperiam, optio, voluptate nisi doloribus voluptates ex non suscipit id, eum
    velit quidem doloremque.
  </p>
  <ul>
    {allPosts.map((post) =>
      <BlogPost url={post.url} title={post.frontmatter.title} />
    )}
  </ul>
</BaseLayout>
